<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="#{app.name}">message.properties 값 출력</title>
	<th:block th:replace="~{common/common}"></th:block>
  
  
</head>
<body>

  <main>

    <th:block th:replace="~{common/header}"></th:block>

	
    <!-- 메인 페이지 내용  -->
    <section class="content">
    
    	<section class="content-1">
			<h3>빠른 로그인</h3>
			<br>
			<button class="quick-login">dlalsrud20142905@gmail.com</button>	
			<button class="quick-login">user01@kh.or.kr</button>
			
			<hr>	
			
			<h3>
				회원 목록 조회(비동기)
				<button id="selectMemberList">조회</button>
			</h3>
			
			<table border="1">
				<thead>
					<th>회원번호</th>
					<th>이메일</th>
					<th>닉네임</th>
					<th>탈퇴 여부</th>
				</thead>
				
				<tbody id="memberList"></tbody>
			</table>

			<hr>

			<h3> 특정 회원 비밀번호 초기화</h3>
			회원번호 : <input type="text" id="resetMemberNo">
			<button id="resetPw">비밀번호 pass01! 로 초기화 </button>

			<hr>

			<h3> 특정 회원(회원번호) 탈퇴 복구</h3>
			<div>
				회원번호 :
				<input type="text" id="restorationMemberNo">
				<button id="restorationBtn">복구하기</button>
			</div>
		</section>

    	<section class="content-2">
       	 <!-- 로그인, 회원가입 버튼 -->
			
			<!-- 로그인이 되어 있지 않는 경우-->
			<th:block th:if="${session.loginMember == null}">
				<!-- 로그인 박스 -->
		        <form action="/member/login" method="POST" id="loginForm">
		            <fieldset class="id-pw-area">
		  
		              <!-- 아이디/비밀번호 입력 -->
		                <section>
							<input type="text" 
								name="memberEmail"
								placeholder="이메일">
			
							<input type="password" 
								name="memberPw" 
								placeholder="비밀번호">
		                </section>
		  
		              <!-- 로그인 버튼 -->
					 
		              	<section>
		                	<button>로그인</button>
		             	</section>
		            </fieldset>

		  			 <!-- 쿠키: 클라이언트(브라우저)에 저장되는 작은 데이터 조각 (보안에 취약)
						  세션(Session) : 서버측에서 사용자 상태를 관리할 때 사용 
						  (서버측에서 데이터를 관리하고 있어서 보안상 쿠키보다 안전함)

						-->
		            <label>
		              <!-- label 태그 : input 태그의 제목을 나타내는 태그  -->
		              <input type="checkbox" name="saveId">
		              아이디 저장
		            </label>
		  
		            <article class="signup-find-area">
		
		              	<a href="/member/signup">회원가입</a>
							<span> | </span>
		              	<a href="#">ID/PW 찾기</a>
		            </article>
		        </form>
			</th:block>
		
			<!-- 로그인이 되어 있는 경우-->
			<!--<th:block th:unlessif="${session.loginMember !=null"> </th:block>-->
			<th:block th:if="${session.loginMember !=null}"> 
          
				<article class="login-area">
					<a href="/myPage/profile">
						<!--프로필 이미지-->
						<!-- message.properties에 작성된 기본 사용자 이미지 -->
						<!-- session.loginMember.profileImg 에 유저가 등록한 이미지가 있다면 (null이 아니라면) 
							session.loginMember.profileImg에 저장된 이미지 경로(.../ex.png)를 쓰겠다.
							없다면(null 이라면) user(/images/user.png)-->
						<img th:with ="user=#{user.default.image}"
							th:src="${session.loginMember.profileImg ?:user}"
							id="memberProfile"
							alt="프로필 이미지">
					</a>

					<!-- 닉네임, 이메일, 로그아웃 버튼 영역 -->
					<div class="my-info" th:object="${session.loginMember}">
						<div>
							<a href="/myPage/info" id="nickname" th:text="*{memberNickname}">닉네임</a>
							<a href="/member/logout" id="logoutBtn">로그아웃</a>
						</div>

						<p th:text="*{memberEmail}">이메일</p>
					</div>
				</article>
			</th:block>
      	</section>

    </section>
  </main>

  <!-- common/footer 추가 -->
  <th:block th:replace="~{common/footer}"></th:block>

  <script src="/js/main.js"></script>
</body>
</html>